        <!-- NAVBAR -->
        <nav class=" navbar fixed-top navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="navbar-brand d-md-flex m-md-2 m-0">
                    <a href="#" class="color-green d-flex ">Argentina Programa</a>
                    <a href="#" class="color-red d-flex ">#YoProgramo</a>
                </div>
            
                <div class="group-icons d-flex pr-4">
                    <div class="p-md-3 p-1"><i class="bi bi-github"></i></div>
                    <div class="p-md-3 p-1"><i class="bi bi-linkedin"></i></div>
                    <button type="button" class="bg-color-red btn btn-dark"><i class="bi bi-door-closed-fill"></i>Login</button>
                </div>
            
            </div>
        </nav>  